.container{
    @include transition(all 0.5s ease 0.3s);
}

.table{
    position: relative;
}
.table-striped > tbody > tr:nth-child(even) {
background-color: $background-color;
}
.table-summary td{
    border: none !important;
    font-size: 16px;
    font-weight: bold;
}