.container-fluid {
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    @include transition(all 0.5s ease 0.3s);

    //4 col

    @include breakpoint(tablet) {
    max-width: 960px;
    }
    
    @include breakpoint(mobile) {
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;        
    }
}

.container-fluid.ng-hide, .container.ng-hide {
    @include opacity(0);
    @include transform(translate3d(0, 0, 0));
}

.videoList{
    @include transition(all .4s ease);
}

.videoList.ng-hide{
    @include opacity(0);
    @include transform(translate3d(0,25px,0));
}
