$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$gotham-bold: 'gothambold', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$gotham-medium: 'gothammedium', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$gotham-book: 'gothambook', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$background-color: #6baf8e;
$font-color: #364048;

$breakpoint-mobile: 995px;
$breakpoint-tablet: 1200px;

// bower:scss
// endbower

@import "compass";

@import "vendor/videogular";
@import "vendor/snow";

@import "base/mixins";
@import "base/base";

@import "modules/fonts";
@import "modules/forms";
@import "modules/balls";
@import "modules/headers";
@import "modules/bluehiveloader";
@import "modules/panels";
@import "modules/modals";
@import "modules/buttons";

@import "views/main";
@import "views/dashboard";

