html, body {
    height: 100%;
    width: 100%;
    @include box-sizing(border-box);
    @include breakpoint(mobile) {     
        margin: 0;
        padding: 0;
    }
}

body {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    background: $background-color;    
    @include breakpoint(mobile) {    
        padding: 15px 10px 0 10px;
    }
}



p {
    font-family: $gotham-medium;
}

video::-webkit-media-controls {
    display: none !important;
}

.background-image {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: 900;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .row {
    @include breakpoint(mobile) {
        padding: 0;
        margin: 0;

    }
}