@mixin breakpoint($point) {
  @if $point == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  }
  @if $point == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  } 
}