<div class="o2__footer">
    <form>
  		{{!-- //<input type="checkbox" id="stay" /><label for="stay">Tick the box to stay in the know</label> --}}
  		<input type="checkbox" name="checkboxG4" id="checkboxG4" class="css-checkbox"><label for="checkboxG4" class="css-label"> &nbsp; Tick the box to stay in the know</label>
    	<div class="buttonWrapper"><button>Submit</button></div>
    	<div class="error"><p>Please tick the box to submit</p></div>
		<div class=""><p>Numbers relate to <span class="month">January</span> this year.</p></div>
		<div class="legal">
			<p>
				Clicking submit means you agree to be contacted by email or SMS with information about our goods and services.
			</p>
		</div>
    </form>
</div>