<div class="swiper-item-wrapper o2__content {{ animation }}">
	<img 
		src="images/{{ animation }}/0.png" 
		data-images="images/{{ animation }}/##.png"
	    data-frames="{{ frames }}"
	    data-shy="{{ shy }}"
	    data-entry="{{ entrySpeed }}"
	    {{#if speed }}
	    	data-speed="{{ speed }}"
	    {{/if }}
	   	{{#if repeatDelay }}
	    	data-delay="{{ repeatDelay }}"
	    {{/if }}
		width="500" 
		height="281" 
		class="reel" 
		data-draggable="false" 
		data-opening="1" 
		data-laziness="1"
	/>
	<div class="thanks"></div>
</div>