.svg-balls {
    position: fixed;
    top: -40px;
    left: 40px;
    z-index: -1;
    @include breakpoint(tablet) {
        left: 10px;
    }

    @include breakpoint(mobile) {
        display: none;
    }
    svg {
        height: 195px;
        width: 105px;
        overflow: visible;
    }
    .ball {
        @include transform-origin(top);
    }
    .ball.one {
        @include animation(swinging ease-in-out 7s infinite);
        .base {
            @include animation(swinging ease-in-out 7.3s infinite);
            @include transform-origin(center);
        }
    }
    .ball.two {
        @include animation(swinging ease-in-out 7s infinite 0.2s);
        .base {
            @include animation(swinging ease-in-out 7.3s infinite);
            @include transform-origin(center);
        }
    }
    .ball.three {
        @include animation(swinging ease-in-out 7s infinite 0.4s);
        .base {
            @include animation(swinging ease-in-out 7.3s infinite);
            @include transform-origin(center);
        }
    }
}

@keyframes swinging {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(3deg);
    }
    40% {
        transform: rotate(-3deg);
    }
    60% {
        transform: rotate(3deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


@-webkit-keyframes swinging {
    0% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(3deg);
    }
    40% {
        -webkit-transform: rotate(-3deg);
    }
    60% {
        -webkit-transform: rotate(3deg);
    }
    80% {
        -webkit-transform: rotate(-3deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}


@-moz-keyframes swinging {
    0% {
        -moz-transform: rotate(0deg);
    }
    20% {
        -moz-transform: rotate(3deg);
    }
    40% {
        -moz-transform: rotate(-3deg);
    }
    60% {
        -moz-transform: rotate(3deg);
    }
    80% {
        -moz-transform: rotate(-3deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}


@-o-keyframes swinging {
    0% {
        -o-transform: rotate(0deg);
    }
    20% {
        -o-transform: rotate(3deg);
    }
    40% {
        -o-transform: rotate(-3deg);
    }
    60% {
        -o-transform: rotate(3deg);
    }
    80% {
        -o-transform: rotate(-3deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}