%buton-pseudo {    
    
    font-family: $gotham-book;
    line-height: 30px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff !important;
    @include transition(all 0.3s);
    i{
        font: normal normal normal 12px/1 FontAwesome;
    }
}

%buton-pseudo-top {
    @include transform(translate3d(0, -100%, 0));
    @extend %buton-pseudo;
}

%buton-pseudo-bottom {
    @include transform(translate3d(0, 0, 0));
    @extend %buton-pseudo;
}

.btn-bluehive {
    font-size: 12px;
    font-weight: normal;
    line-height: 30px;
    position: relative;
    display: block;
    overflow: hidden;
    height: 30px;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    text-align: center;
    text-transform: uppercase;    
    color: #fff !important;
    border: none;
    border-radius: 0;
    background: #054059;
    font-family: $gotham-book;
    @include box-sizing(border-box);
    @include transition(all 0.3s ease);
    &:hover {        
        background: lighten(#054059, 10%);
    }
    &:focus{
        outline: none !important;
        box-shadow: none;
    }
}

.btn-vote .top{
    line-height: 30px;    
    background: green;
    top: 0;
    @extend %buton-pseudo-top;
 }
.btn-vote .bottom {
    line-height: 30px;    
    background: #054059;
    top: 0;
    @extend %buton-pseudo-bottom;
 }

.btn-vote.active .top{ 
@include transform(translate3d(0, 0, 0));
}

.btn-vote.active .bottom{ 
@include transform(translate3d(0, 100%, 0));
}

.btn-vote.active:before {
    @include transform(translate3d(0, 0, 0));
}
.btn-vote.active:after {
    @include transform(translate3d(0, 100%, 0));
}