.form-search {    
    width: auto;
    width: 180px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;

    @include breakpoint(mobile) {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 0; 
        
    }
}

input.form-control {
    font-family: $gotham-medium;
    font-size: 11px;    
    color: $font-color;
    border: none;
    border-radius: 8px;
    box-shadow: none;
    @include box-sizing(border-box);
    padding: 0 0 0 10px;
    margin: 0;
    width: 180px;
    height: 30px;
    line-height: 30px;    

    @include breakpoint(mobile) {
        line-height: 40px;
        width: 100%;
        height: 40px;
    }
}

input.form-control:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.glyphicon-search {
    color: $font-color;
    top: -2px !important;
    font-size: 11px;    
    @include breakpoint(mobile) {
        top: 3px !important;
    }
}

.form-control::-webkit-input-placeholder {
    font-family: $gotham-medium;
    color: $font-color;
}

.form-control:-moz-placeholder {
    font-family: $gotham-medium;
    /* Firefox 18- */
    color: $font-color;
}

.form-control::-moz-placeholder {
    font-family: $gotham-medium;
    /* Firefox 19+ */
    color: $font-color;
}

.form-control:-ms-input-placeholder {
    font-family: $gotham-medium;
    color: $font-color;
}