.header__ribbon {
    position: relative;
    z-index: 900;
    width: 340px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 6px;
    margin-left: 70px;
    @include box-sizing(border-box);
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.header__description {
    font-family: $gotham-bold;
    margin-top: 42px;
    margin-left: -25px;
    padding-right: 15px;
    text-align: left;
    @include box-sizing(border-box);
    @include breakpoint(mobile) {
        margin: 5px 0 0 0;
        padding: 0;
        text-align: center;
    }

    p.large {
        font-family: $gotham-medium;
        font-size: 18px;
        margin-bottom: 7px;
        text-transform: uppercase;
        color: #f8eace;
        @include breakpoint(mobile) {
            line-height: 22px;
        }
    }
    p.bold {
        font-family: $gotham-bold;
    }
    p {
        font-family: $gotham-book;
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 6px;
        color: #364048;
        @include breakpoint(mobile) {
            font-size: 15px;
            line-height: 19px;
            padding: 0 15px;
        }
    }
    .form-search {
        float: left;
        margin-top: 20px;
        @include breakpoint(mobile) {
            float: none;
            clear: both;
            margin: 25px 0 35px 0;
        }
    }
    .merry-voting {
        float: left;
        width: 178px;
        height: 50px;
        margin: 4px 0 0 45px;
        background: image-url("merry-voting.png") no-repeat center;
        @include background-size(cover);
        @include breakpoint(mobile) {
            display: none;
        }
    }
    .merry-voting.visible-mobile {
        display: none;
        @include breakpoint(mobile) {
            display: block;
            float: none;
            clear: both;
            width: 174px;
            height: 47px;
            margin: 15px auto 0 auto;
        }
    }
}