.modal-lg {
    width: 755px;
}

.modal-dialog {
    margin: -252px 0 0 -377px;
    position: fixed;
    top: 50%;
    left: 50%;
}

//Start Animation
.modal.fade .modal-dialog {
    @include transform(translate3d(0, 25px, 0));
    @include breakpoint(mobile) {
        margin: 0;
        @include transform(translate3d(-50%, -40%, 0));
    }
}

//End Animation
.modal.in .modal-dialog {
    @include transform(translate3d(0, 0, 0));
    @include breakpoint(mobile) {
        margin: 0;
        @include transform(translate3d(-50%, -50%, 0));
    }
}

.modal .modal-dialog {
    @include transform(translate3d(0, 0, 0));
    @include breakpoint(mobile) {
        margin: 0;
        @include transform(translate3d(-50%, -50%, 0));
    }
}


.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.85);
}

.modal-backdrop.in {
    @include opacity(1);
}

.videogular-container-modal {
    width: 473px;
    height: 473px;
}

.modal-content {
    border-color: #cacfca;
    box-shadow: none;
    @include border-radius(0);
}

.modal-body {
    position: relative;
    padding: 15px 0 15px 15px;
}

.modal__buttons {
    line-height: 24px;
    position: relative;
    z-index: 100;
    top: 175px;
    bottom: 26px;
    left: 0;
    width: 265px;
    height: 26px;
    text-transform: capitalize;
    color: #054059;
    border: none;
    background: none;
    @include box-sizing(border-box);
    
    


    & .btn {
        width: 50%;
        border: 1px solid #fff;
        border-right-width: 0;
    }
    p {
        font-size: 29px;
        line-height: 15px;
        color: #dd4642;
        display: block;
        margin-bottom: 16px;
        text-align: center;
        text-transform: capitalize;
        color: #054059;
        line-height: 30px;
    }
}

.holly {
    width: 29px;
    height: 19px;
    background: image-url("holly.svg");
    @include background-size(cover);
    margin: 24px auto 0 auto;
}

.modal-sm {
    @include box-sizing(border-box);
    width: 455px;
    margin-left: -228px;
    margin-top: -95px;
    height: auto;
    @include breakpoint(mobile) {
        width: 100%;
        padding: 0 15px;
        margin:0;        
        @include transform(translate3d(-50%, -50%, 0));
    }

    .modal-confirm {
        padding: 0 40px;
        margin: 0;
        width: 100%;
        height: auto;
        img {
            margin-top: 10px;
            max-width: 100%;
        }
        .modal__buttons {
            top: 10px;
            position: static;
            display: block;
            text-align: center;
            margin: 17px auto 36px auto;
            @include breakpoint(mobile) {
            margin: 17px auto 25px auto;
            width: 100%;
            }
            .btn {
                display: inline-block;
            }            
        }
    }
}