.panel-inline {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 230px;
    height: 230px;
    margin: 0 0 -5px 0;
    @include box-sizing(border-box);
    border: 1px solid #1f2321;
    border-width: 0 1px 0px 0px;
    @include breakpoint(mobile) {
        width: 100%;
        height: auto;
        margin-bottom: 7px;
        border-width: 1px 1px 2px 1px;
        border-width: 0;
    }
}

.panel {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: red;
    box-shadow: 0;
    @include breakpoint(mobile) {
    width: 100%;
    height: auto;
    }
}

.panel-body {
    overflow: hidden;
    width: 230px;
    height: 230px;
    padding: 0;
    img {
        width: 100%;
        height: auto;
    }
    @include breakpoint(mobile) {
        width: 100%;
        height: auto;
    }
}

.panel-name {
    font-size: 12px;
    line-height: 26px;
    position: absolute;
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 24px;
    margin: 0;
    text-transform: capitalize;
    color: #054059;
    background: #fff;
    color: $font-color;
    @include box-sizing(border-box);
    border: 1px solid #1f2321;
    border-width: 0 0px 0px 0px;
    @include breakpoint(mobile) {
        height: 30px;
        line-height: 30px;
        bottom: 31px;
    }
}

.panel-buttons {
    line-height: 24px;
    position: relative;
    z-index: 100;
    bottom: 26px;
    left: 0;
    width: 100%;
    height: 26px;
    text-transform: uppercase;
    color: #054059;
    background: none;
    border: 1px solid #94d4ce;
    border-width: 1px 0 0 0;
    @include box-sizing(border-box);
    & .btn {
        width: 50%;
        height: 30px;
        line-height: 30px;        
    }
    & .btn.btn-vote {
        border-right: 1px solid $background-color;
        height: 30px;
        line-height: 30px;        
    }
    @include breakpoint(mobile) {
        height: 30px;
        line-height: 30px;
        bottom: 0;
    }
}

.panel-buttons.visible-mobile {
    display: none;
    @include breakpoint(mobile) {
        display: block;
    }
}

.panel-inline:nth-child(5n+1) {
    .panel-buttons, .panel-name {
        border-left-width: 0;
    }
}

.panel-inline:nth-child(5n) {
    border-right-width: 0;
    .panel-buttons, .panel-name {
        border-right-width: 0;
    }
}

.videogular-container {
    width: 230px;
    height: 230px;
    cursor: pointer;
    @include breakpoint(mobile) {
        width: 100%;
        height: auto;
    }
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-hide-add {
    @include transition(all 0.4s ease 0.3s);
}

.animate-repeat.ng-leave,
.animate-repeat.ng-hide-remove {
    @include transition(all 0.2s ease);
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-hide-remove {
    @include transform(translate3d(0, 50px, 0));
    @include opacity(0);
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active,
.animate-repeat.ng-hide-add {
    @include transform(translate3d(0, 0, 0));
    @include opacity(1);
}